/* Modal CSS */
.crm-reminders-drawer {
    position: fixed !important; /* Override any existing positioning */
    right: 4px !important; /* Align to the right */
    bottom: 4px !important; /* Align to the bottom */
    top: auto !important; /* Override default top positioning */
    transform: translateX(0) !important; /* Override default transform if necessary */
    height: auto !important; /* Adjust height as necessary, remove if you want full height */
    max-height: 100%; /* Ensure the Drawer does not exceed the viewport height */
    border-radius: 4px;
}

.crm-reminders-drawer .bp3-drawer-header {
    background: rgb(247, 248, 248);
    border-radius:4px;
}
/*
.crm-reminders-drawer .bp3-drawer-header .bp3-heading {
    color: white; 
    opacity: 0.7; 
  } */

/* Roundup Query */
span.rm-page-ref--tag[data-tag=".rollup-table"] {
    display: none !important;
}

.rollup-table thead {
    background: rgb(247, 244, 253) !important;
    background-color: rgb(247, 244, 253) !important;
    border: 2px solid rgb(189, 179, 230) !important;
    border-radius: 10px !important;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
}
.rollup-table tbody {
    background: rgb(247, 244, 253) !important;
    background-color: rgb(247, 244, 253) !important;
    font-size: 8px;
}

.rollup-table td > div:nth-child(1) > span:nth-child(2) {
    opacity: 20%;
}

.rollup-table tr .rm-page-ref {
    color: rgb(127, 93, 207);
    text-decoration: underline;
}
.rollup-table .bp3-icon {
    color: rgb(127, 98, 206);
}
.rollup-table .bp3-icon-more,
.rollup-table .bp3-icon-refresh {
    opacity: 20%;
}
.rollup-table .bp3-card {
    border: 1px solid rgb(189, 179, 230) !important;
    border-radius: 10px;
}
.roamjs-query-results-view > div:nth-child(1) {
    background: rgb(247, 244, 253);
    color: rgb(127, 98, 206, 0.5);
}
.rm-embed-container--block:has(.rollup-table) {
    background-color: rgba(127, 98, 206, 0);
}

.rollup-table .rm-attr-ref {
    font-weight: 500;
}
/*the bottom bar*/
.rollup-table .roamjs-query-results-view > div.relative > div:last-child {
    background: rgb(247, 244, 253) !important;
    border-top: 1px solid rgb(127, 98, 206, 0.5) !important;
    display: none;
}
.crm-reminders-drawer a {
    color: #48494a;
    /* font-weight: 700; */
}
.crm-reminders-drawer h5 {
    font-size: 12px !important;
    font-weight: 800;
    margin: 0px;
    margin-left: 8px;
}
.crm-reminders-drawer ul {
    padding-top: 4px;
    /* padding-bottom: 4px; */
}
.crm-reminders-drawer li {
    font-size: 14px !important;
}
.crm-reminders-drawer div.reminder-section {
    background-color: hsl(204, 33%, 97%);
    margin-bottom: 0.5rem;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid;
    border-color: hsl(204, 33%, 87%);
}
.multi-column-list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    /* gap: 20px;  */
    max-height: 50vh; /* Adjust the max height as needed */
    overflow-y: scroll; /* Ensure vertical scrolling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Optional: Custom scrollbar styling for better visibility */
.multi-column-list::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

.multi-column-list::-webkit-scrollbar-thumb {
    background-color: rgb(156, 166, 175); /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.multi-column-list::-webkit-scrollbar-track {
    background-color: rgba(156, 166, 175, .1); /* Color of the scrollbar track */
}
.multi-column-list input[type="checkbox"] {
    cursor: pointer;
}
.multi-column-list li {
    display: flex;
    align-items: center;
}
.crm-reminders-drawer .p-5 {
    padding: 0.5rem;
}
.crm-reminders-drawer input {
    margin: 4px;
    padding-top: 4px;
}
.crm-reminders-drawer li > label {
    margin-bottom: 0px;
}

/* settings page */
.rm-settings-panel__section.crm-reminders-api-setting > div:first-child{
    width:10px;
}
